<div>
    <h1>
        Lista de todos los productos:<br>   
            {{#each products}}
                <div>
                    <p> 
                        {{this.name}} 
                        $ {{this.price}}
                        <hr>
                    </p>
                </div>
            {{/each}}

    </h1>

</div>